* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}

/* Ảnh nền toàn màn hình */
.bg {
  position: fixed;
  inset: 0;
  background-image: url('assets/AGU network AI v2.png'); /* Đường dẫn ảnh của bạn */
  background-size: cover;      /* phủ kín màn hình */
  background-position: center; /* canh giữa ảnh */
  background-repeat: no-repeat;
}
